{% extends base1.html %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About Us!</h1>
    <p class="lead"><h2> A global platform for photography! </h2>
The Photo-Sensation Organisation is a global platform for photography initiatives. Working across up to 180 countries, our aim is to raise the level of conversation around photography by celebrating the best imagery and photographers on the planet. We pride ourselves on building lasting relationships with both individual photographers as well as our industry-leading partners around the world.
</p>

  </div>
</div>

<img src="au.jpg" alt="">

{% endblock %}
