{% extends "base1.html" %}
{% block content %}

<div class="card mb-3"  style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1486744328743-c1151100a95b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc5bed0cbb5bdb4b7b03248067cf9e0c&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> Architecture</h5>
    <p class="card-text">The judges are looking for the ability to capture three dimensional worlds in two dimensions,whilst retaining the original qualities. Light, Angle and Scale are key factors but the subject matter can be wide ranging</p>

  </div>
</div>

<div class="card mb-3"  style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1523958631412-cd125bb67e58?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5db2d9bf033d42dcf542a08d7fa695f1&auto=format&fit=crop&w=1019&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Creative</h5>
    <p class="card-text">Judges are looking to reward originality, experimentation and imagination. This category actively encourages the creative use of the medium of photography in all its forms -from photograms, to cutting edge photographic techniques. </p>
  </div>
</div>
<div class="card mb-3"  style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1496449903678-68ddcb189a24?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e37a38ee23569d8e72896968903cf67a&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Discovery</h5>
    <p class="card-text">Purposely not defined by subject matter or photography type , the judges are looking for stunning bodies of work that clearly show the artist's passion for photography. They want to uncover work that would otherwise be unseen</p>

  </div>
</div>
<div class="card mb-3" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d4147a2e4e3f79299e2f0c92b13db9ee&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Natural World and Wildlife</h5>
    <p class="card-text">Judges are looking for artistic images of our physical, natural and material world.The category should be understood in its widest sense, from flora and fauna to animals and wildlife.</p>

  </div>
</div>
<div class="card mb-3" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1471943311424-646960669fbc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b3f9a0137bac2b3eff27b763b37eec5d&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Still Life</h5>
    <p class="card-text">Often a group or arrangement of objects, Still Life typically depicts inanimate subject matters. The approach can be classic, or innovative or bold</p>
  </div>
</div>
{% endblock %}
