{% extends "base1.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Awards and Prizes</h1>
  <p class="lead"> With photo sensation, its not just about the prizes you recieve, but the global exposure you attain that can change your career forever!!</p>
  <hr class="my-4">
  <p> Along with the cash prize of $1000 for the overall winner, top 15 entries from each category will recieve a cash prixe of $200. Some of the other precious benefits that you attain along with our contest are:</p>
  <ul>
    <li>Exhibition at Somerset House, London</li>
    <li>Potential to be included in international exhibitions</li>
    <li> Inclusion in  the annual Sony World Photography Awards</li>
  </ul>

</div>

{% endblock %}
